<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAlumnoService" />
                <binding name="BasicHttpBinding_ILoginService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:14349/AlumnoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAlumnoService"
                contract="AlumnoServiceReference.IAlumnoService" name="BasicHttpBinding_IAlumnoService" />
            <endpoint address="http://localhost:14349/LoginService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ILoginService" contract="LoginServiceReference.ILoginService"
                name="BasicHttpBinding_ILoginService" />
        </client>
    </system.serviceModel>
</configuration>