<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="rutaLog" value="D:\Log\"/>
  </appSettings>
  <connectionStrings>
    <add name="cone" connectionString="server=localhost;database=NSP;uid=sa;pwd=123456"/>
  </connectionStrings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILoginService" />
        <binding name="BasicHttpBinding_IAlumnoService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:14349/LoginService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ILoginService" contract="LoginServiceReference.ILoginService"
        name="BasicHttpBinding_ILoginService" />
      <endpoint address="http://localhost:14349/AlumnoService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAlumnoService"
        contract="AlumnoServiceReference.IAlumnoService" name="BasicHttpBinding_IAlumnoService" />
    </client>
  </system.serviceModel>
</configuration>